.card{
    width: 230px;
    height: 130px;
    padding: 20px;
    
}
mat-icon{
    font-size: 28px;
}
.content h3{
  font-weight: 900;
  margin-top: 30px;
  
}
.orange{
  background-color: orange;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
.grey{
  background-color: bisque;
}