
<!-- header -->
<app-header (toggle)="sideBarOpen()"></app-header>


<!-- Take side nav from material ui AND PASTE IT IN APP.COMP.HTML under app header after that place
side bar and main content in apropriate places -->
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sidebar">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
<!-- sidebar -->

<!-- main-content -->

<!-- footer -->
<app-footer></app-footer>