<div>
    <img style="width: 100%;" src="https://cdn.dribbble.com/users/76502/screenshots/5251755/jet_animation.gif" alt="">
     <h3>Admin</h3>
     <p>admin@123</p>
</div>
<mat-divider></mat-divider>

<div class="pages">
    <a routerLink="/">Dashboard</a>
    <a routerLink="gallery">Gallery</a>
    <a routerLink="employees">Employees</a>
</div>
<mat-divider></mat-divider>
<div class="btn-portion">
    <button routerLink="add-employee">Add Employee</button>
</div>
<mat-divider></mat-divider>
<div class="btn-portion">
    <button routerLink="leads">Leads</button>
</div>
<mat-divider></mat-divider>