
<!-- placing card component -->
<div class="card">

    
    <mat-card>
        <app-card
        bg="orange"
        icon="import_contacts"
        content="Admissions"
        total="4000"></app-card>
    </mat-card>
    <mat-card>
        <app-card
        bg="yellow"
        icon="home"
        content="Placements"
        total="3500"></app-card>
    </mat-card>
    <mat-card>
        <app-card
        bg="green"
        icon="person"
        content="Students"
        total="300"></app-card>
    </mat-card>
    <mat-card>
        <app-card
        bg="grey"
        icon="group"
        content="Employees"
        total="50"></app-card>
    </mat-card>
      
   
    
</div>
<!-- placing areal chart -->
<div>
    <app-area-chart></app-area-chart>
</div>
<!-- placing table and pie chart -->
<div class="parent">
    <app-table></app-table>
    <app-pie-chart></app-pie-chart>
</div>